# directories
data/

# Distribution / packaging
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg

# Ignore these also
.DS_Store
*/__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
.vscode/
**/*.out
**/*.slurm
**/*.log
